.container-flex{
    display: flexbox;
    /* margin: 10px 0px; */
    justify-content: center;
    padding: 10px 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
}
.education-container{
    display: inline-flex;
    justify-content: center;
    background-color: #068FFF;
    border-radius: 5px;
    width: 100%;
}
.education-text{
    color: black;
    margin:50px;
    padding-top: 50px;
}
.education-image{
    margin:50px;
}