.qualifications-container{
    text-align: center;
    color: white;
    padding-top: 50px;
    
}
.card{
    margin:0 auto;
    float: none;
    margin-bottom: 10px;
    background-color: #4E4FEB;
    color: white;
    width: 80%;
}
.container-flex{
    display: flexbox;
    /* margin: 10px 0px; */
    justify-content: center;
    padding: 10px 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    color: white;
}