<!-- <p>home works!</p> -->
<div class="container-flex">
    <div class="greeting-container">
        <div class="greeting-text">
        <h1>
            Hey.. i'm HarshVardhan
        </h1>
        <p>A passionate individual who always thrives to work on end to end products.</p>
        <div class="profie-icons">
            <ul class="coding-icons">
                <li><a href="https://leetcode.com/harshrohilla4/"><p>LC</p><img src=""></a></li>
                <li><a href="https://www.codingninjas.com/studio/profile/Harsh_rohilla"><p>CN</p><img src=""></a></li>
                <li><a href="https://auth.geeksforgeeks.org/user/harshrohilla4/practice"><p>GFG</p><img src=""></a></li>
                <li><a href="https://www.hackerrank.com/harsh_rohilla4?hr_r=1"><p>HR</p><img src=""></a></li>
            </ul>
        </div>
        </div>
        <div class="greeting-image">
        <img src=".\assets\images\contactimg.jpg" height="500" width="375" >
        </div>
    </div>
 </div>  
